@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display&family=Roboto:wght@400;500;700&display=swap');

:root {
    --soft-pink: #FAD9C9;
    --dark-pink: #E8B893;
    --salmon: #EBCE98;
    --soft-green: #CACB9C;
    --main-ocre: #C6A043;
    --main-text: #2E2D28;
    --main-beige: #FAF4E4;
    --main-white: #FFFFFF;
    --especial-font: 'Playfair Display', serif;
    --montserrat-font: 'Montserrat', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}


.container-fluid{
    font-family: var(--montserrat-font);
    
    
}
.form-container{
    border-radius: 20px;
    box-shadow: 5px 7px 18px 2.5px rgba(192, 192, 192, 0.384);  /*!Cambie sh*/
    background-color: #ffffff;
    border: none;
}

.form-control-no{
    max-width: 400px;
    border-radius: 10px;
    padding:10px 20px;
    border: none; 
    display: flex;
    align-items: center;
    font-size: small;
}

.hidden {
    display: none;
}

.btn-guardar{
    background-color: var(--main-text);
    color: var(--main-white);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding:0px 20px; /*!Agregué padding*/
    border: none; /*!Quite border*/
}

.btn-guardar:hover{ /*!Agregué hover al botópn*/
    border: none;
    background-color:var(--main-ocre);
    transition: background-color 0.5s;
    font-weight: 500;
}

.alert {
    margin: 10px 0px;
}