@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display&family=Roboto:wght@400;500;700&display=swap');

:root {
    --soft-pink: #FAD9C9;
    --dark-pink: #E8B893;
    --salmon: #EBCE98;
    --soft-green: #CACB9C;
    --main-ocre: #C6A043;
    --main-text: #2E2D28;
    --main-beige: #FAF4E4;
    --main-white: #FFFFFF;
    --especial-font: 'Playfair Display', serif;
    --montserrat-font: 'Montserrat', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
}

/*
*GENERALES
*/
.parrafo--bold{
    font-weight: 500;
    line-height: auto;
    font-size: 21px;
}

h1{
    font-size: 30px;
}

body{
    background-color: var(--main-white);
    font-family: var(--montserrat-font);
    font-size: 20px;
}

button{
    height: 50px;
    display:inline-block;
    padding:0px 20px;
    font-family: var(--montserrat-font);
    font-size: 15px;
}

.btn--whiteline{
    color: var(--main-white);
    background-color: transparent;
    border: solid var(--main-white) 1px;
    border-radius: 10px;
    cursor: pointer;
}
.btn--whiteline:hover{
    border: none;
    background-color: rgba(255,255,255,.2);
    transition: background-color 0.5s;
    font-weight: 500;
}

.btn--solidbk{
    color: var(--main-white);
    background-color: var(--main-text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn--solidbk:hover{
    border: none;
    background-color:var(--main-ocre);
    transition: background-color 0.5s;
    font-weight: 500;
}



/*
* SECTION 1 / CABECERA
*/

#cabecera {
    width: 100%;
    height: 640px;
    border: solid greenyellow;
    display: flex;
    flex-direction: column;

}

/* Imagen */
#contenerdor--cabecera {
    border: solid red;
    width: 100%;
    height: 640px;
    position: relative;
    
}

#img--cabecera {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Textos */

#info--cabecera {
    border: solid blue;
    position: relative;
    width: 48%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--main-white);
}

#title--cabecera {
    border: solid rgb(7, 3, 5);
}

#special--text {
    border: solid #C6A043;
    line-height: 90px;
    letter-spacing: 1;
    font-family: var(--especial-font);
    font-weight: 400;
    font-size: 80px;
}

#text--cabecera{
    border: rgb(0, 255, 0) solid;
}

/*Boton*/

#contenedorbtn--cabecera{
    border: #C6A043 solid;
    width: 100%;
    display: flex;
    justify-content: end;
}

/*
* SECTION 2, CARRUSELL
*/

#productos{
    border: solid green;
    width: 100%;
    height: 880px;
    background-color: var(--main-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/*Titulo*/
#contenedortitle--productos{
    border: solid saddlebrown;
    width:100%;
    display: flex;
    margin-top: 25px;
}

#title--productos{
    margin-left: 60px;
}



/*Carrusell*/
#carrusell--productos{
    border: solid purple;
    height: 550px;
    width: 90%;
    margin-top: 25px;
}

/* .tarjetas--productos{
    border: solid purple;
    width: 380px;
    height: 550px;
    background-color: var(--main-white);
    border-radius: 15px;
    box-shadow: 0px 8px 8px 0px rgba(159,136,111,0.35);
} */

/*boton*/
#contenedorbtn--productos{
    border: solid gold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/*
*SECTION 3, CARD FORMULAS
*/
#formulas{
    width: 100.5%;
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-text);
    color: var(--main-white);
    position: relative;
}

#contenedorimg--formulas{
    width: 100%;
    height: 600px;
}

#img--formulas{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#contenedor--formulas{
    border: solid palevioletred;
    width: 100%;
    height: auto;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text--formulas{
    border: solid rgb(252, 161, 128);
    height: 70%;
    width: 100%;
    list-style: none;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.bullet--formulas{
    border-bottom: solid var(--main-white);
    width: auto;
    line-height: 85px;
    display: flex;
    justify-content: left;
}

#contenedorvinculo--formulas{
    border: solid seagreen;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: end;
    padding-left: 7%;
}
#vinculo--formulas{
    color: var(--main-white);
    text-align: right;
}

#vinculo--formulas:hover{
    font-weight: 500;
    transition: 0.5s;
}

/*

*SECTION 4, TIPO DE PIEL*/
#tipospiel{
    border: solid purple;
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#contenedortext--tipospiel{
    border: solid chocolate;
    margin-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
}

#title--tipospiel{
    border: solid greenyellow;
    margin-top: 0px;
    text-align: center;
}

#text--tipospiel{
    border: solid slateblue;
    margin-top: 30px;
    text-align: center;
}

#media--tipospiel{
    border: solid red;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenedorimg--tipospiel{
    border: solid  yellow;
    width: 100%;
    height: 400px;
    position: absolute;
}

#img--tipospiel{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

#contenedor--tipospiel{
    border: solid blue;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--main-white);
}

#textbullet--tipospiel{
    font-weight: 500;
}

/*
*SECTION 5, COMPROMISO
*/
#compromiso{
    border: solid grey;
    position: relative;
    width: 100%;
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
}

#info--compromiso{
    border: solid #fa8072;
    position: relative;
    line-height: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
    padding-bottom: 15px;
}

#title--compromiso{
    border: solid black;
    margin-top: 0px;
}

#subtitle--compromiso{
    border: cornflowerblue solid;
    margin-top: 35px;
    font-size: 20px;
}

#text--compromiso{
    border: crimson solid;
    position: relative;
}

#call--compromiso{
    background-color: var(--dark-pink);
    position: relative;
    height: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#contenedorbullet--compromiso{
    border: solid rebeccapurple;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#bullet--compromiso{
    border: goldenrod solid;
    text-align: center;
    color: var(--main-white);
    font-weight: 500;
}



/*
*RESPONSIVIDAD IMAGENES
*/
@media screen and (max-width: 908px){

    #info--cabecera {
        position: relative;
        width: 90%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        color: var(--main-white);
    }

}

/*
*RESPONSIVIDAD MOBILE VERSION
*/
@media screen and (max-width: 430px){
    .parrafo--bold{
        font-weight: 500;
        line-height: auto;
        font-size: 15px;
    }
    
    h1{
        font-size: 25px;
    }
    
    body{
        font-size: 15px;
    }
    
    #special--text{
        font-size: 50px;
        line-height: 51px;
        letter-spacing: 1;
    }

    #info--cabecera {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 100px;
        color: var(--main-white);
    }


    /* SECTION 3 FORMULAS */
    #formulas{
        width: 101%;
        height: 255px;
    }
    
    #contenedorimg--formulas{
        width: 100%;
        height: 255px;
    }
    
    #text--formulas{
        justify-content: center;
        padding-left: 0;  
    }
    
    .bullet--formulas{
        line-height: 30px;
    }
    

    /*SECTION 4, TIPO DE PIEL*/
#tipospiel{
    height: 200px;
}

#contenedortext--tipospiel{
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#text--tipospiel{
    margin-top: 5px;
}

/*SECTION 5 COMPROMISO*/

#info--compromiso{
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;

}


#subtitle--compromiso{
    margin-top: 15px;
    font-size: 15px;
}

#text--compromiso{
    position: relative;
    margin-top: -10px;
    margin-bottom: 25px;
}

#call--compromiso{
    height: 210px;
}


#bullet--compromiso{
    padding-left: 25px;
    padding-right: 25px;
}

}